body{
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR START */
.navbar{
    background-color: white !important;
    margin: 20px;
}

.navbar>.col-4> i{
    color: #00bd56;
    font-size: 25px;
}

.navbar-brand{
    font-size: 28px;
    padding-left: 5px;
}
.navbar-nav li{
    margin-left: 60px;
    text-transform: uppercase;
    font-size: 14px;
}
/* NAVBAR END */



/* BIG PIC START */
.pictureSection{
    height: 1094px;
    opacity: .9;
}

.pictureSection>.container{   
    text-align: center;
    z-index: 5;
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.pictureSectionText{
    margin-top: 25%;
    margin-left: 38%;
}

.pictureSection h1{
    color: #fff;
    line-height: 1.2;
    font-size: 60px;
    font-weight: 800;
}

#pictureSectionBackground{
    position: relative;
}


#pictureSectionBackground img{
    width: 100%;
    height: 100%;
}

.ourWorks{
    width: 100%;
    position: absolute;
    margin-top: -26%;
}

.ourWorks>.container>.row>.col-3{
    height: 300px;
    background-color: #28a745;
    color: white;
    margin: 0 29px;
}

.ourWorkIconsHeader{
    width: 100px;
    height: 100px;
    margin:-60px 0 20px 72px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

.ourWorkIconsHeader i{
    margin: 15px;
    font-size: 60px;
    color: #28a745;
}

.ourWorkIconsFooter{
    width: 50px;
    height: 50px;
    margin: 16px 0px 0px 103px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.ourWorkIconsFooter i{
    margin: 8px 0px 0px 16px;
    font-size: 35px;
    color: #28a745;
}
/* BIG PIC END */


/* WHY-US START */
.whyus>.container>.col-5{
    height: 280px;
 }

#whyusTitle{
    font-size: 30px;
    font-weight: 900;
}
.whyusImg img{
    width: 100%;
}

.whyusIcons{     
    height: 66px;
    border-radius: 50%;
    background-color: #28a745;
    padding-left: 15px;
    padding-top: 8px;
}

.whyusIcons i{
    font-size: 54px;
    color: white;
}

.whyusText>.col-9>p{
    font-size: 17px;
}
/* WHY-US END */



/* BLOG OWL CARUSEL START */
.owlitem {
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.owl-carousel .owlitem img {
    width: 100%;
    height: 300px;
    padding-bottom: 0px;
}


.card-text{
    max-height: 120px;
    overflow: hidden;
    height: 120px;
}

.card-title{
    height: 73px;
    overflow: hidden;
}

.owl-nav {
    display: block !important;
}

.owl-nav button {
    font-size: 35px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    
    font-size: 65px;
    position: absolute;
    top: 52%;
}

.owl-carousel .owl-nav button.owl-next {
    right: -1%;
}
/* BLOG OWL CARUSEL END */


