{% extends 'base.html' %}

{% block content%}
<link rel="stylesheet" href="{{  url_for('static', filename='css/about.css')   }}" rel="stylesheet">

<!-- ABOUT SECTION START -->
<section class="about-section">
    <section class="about">
        <div class="aboutContainer">
            <h1>Haqqımızda</h1>
            <p class="aboutText">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis repellendus ut nobis quas
                voluptatum ipsam, dolorum laudantium ducimus velit ex! Ipsam inventore, deserunt eius provident ea
                cupiditate dolore labore nobis?
            </p>
        </div>
    </section>
</section>
<!-- ABOUT SECTION END -->
{% endblock content %}