<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sehife</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- OWL-Carusel -->
    <link rel="stylesheet" href="{{  url_for('static', filename='lib/owl-carousel/assets/owl.carousel.min.css')   }}"rel="stylesheet">
    <link rel="stylesheet" href="{{  url_for('static', filename='lib/owl-carousel/assets/owl.theme.default.min.css')   }}"rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- STYLE-CSS -->
    <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css')   }}" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR START -->
    <header id="navbar">
        <div class="container-fluid">
            <div class="row d-block">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="col-3">
                        <i class="fas fa-paw"></i>
                        <a class="navbar-brand" href="{{  url_for('index')}}">Pet Blog</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="col-9 mt-3">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="navbar-brand" href="{{  url_for('index')}}">Ana Səhifə<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{  url_for('about')}}">Haqqımızda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{  url_for('blog')}}">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{  url_for('gallery')}}">Qalareya</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{  url_for('contact')}}">Əlaqə</a>
                                </li>


                                {% if current_user.is_authenticated %}
                                    <ul class="LoginandRegister d-flex">
                                        <li class="navbar-brand">
                                            <button type="button" class="btn btn-info btn-sm ml-3"><a
                                                    href="{{  url_for('logout')}}">Çıxış etmək</a></button>
                                        </li>
                                    </ul>
                                {% else %}
                                    <ul class="LoginandRegister d-flex">
                                        <li class="navbar-brand">
                                            <button type="button" class="btn btn-info btn-sm"><a
                                                    href="{{  url_for('login')}}">Giriş</a></button>
                                            <button type="button" class="btn btn-secondary btn-sm ml-1"><a
                                                    href="{{  url_for('register')}}">Qeydiyyat</a></button>
                                        </li>
                                    </ul>
                                {% endif %}





                            </ul>
                        </div>
                    </div>

                </nav>

            </div>
        </div>
    </header>
    <!-- NAVBAR END -->

    {% block content %}

    {% endblock content %}



    <!-- FOOTER START -->
    <footer class="footer">
        <div class="inner-footer">

            <div class="footer-items">
                <h1>PET BLOG AZERBAIJAN</h1>
                <p>
                    Saytımızın məqsədi haqqında məlumatlar olacaq burda
                </p>
            </div>



            <div class="footer-items quicklinks">
                <h2>Sürətli keçid üçün</h2>
                <div class="border"></div>
                <ul>
                    <a href="">
                        <li>Blog</li>
                    </a>
                    <a href="">
                        <li>Haqqımızda</li>
                    </a>
                    <a href="">
                        <li>Contact</li>
                    </a>
                    <a href="">
                        <li>Gallery</li>
                    </a>
                </ul>
            </div>

            <div class="footer-items">
                <h2>Bizimlə əlaqə</h2>
                <div class="border"></div>
                <ul>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Sizə Yaxın hər yerdə</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>012 555 55 55</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i>farid.ahmadov97@gmail.com</li>
                </ul>
                <div class="social-media">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->


    <script src="{{  url_for('static', filename='lib/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{  url_for('static', filename='js/script.js') }}"></script>
    <!-- Bootstrap JS CDN START -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS CDN END -->
</body>

</html>