{% extends 'base.html' %}

{% block content%}
<link rel="stylesheet" href="{{  url_for('static', filename='css/blog.css')   }}" rel="stylesheet">


<!-- BLOG SECTION START -->
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/rottweiler-puppy.png')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rottweiler Growth Chart – When Are Rottweilers Fully Grown?</h5>
                        <p class="card-text">Getting a Rottweiler puppy is such an exciting thing and as
                            responsible owners, we would like to care for our Rotties the best we can..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">AUGEST 18, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/doberman-3.jpg')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rottweiler Growth Chart – When Are Rottweilers Fully Grown?</h5>
                        <p class="card-text">Getting a Rottweiler puppy is such an exciting thing and as
                            responsible owners, we would like to care for our Rotties the best we can..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">AUGEST 18, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/Husky-German-Shepherd-puppy.png')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">9 Things to Know Before Getting a German Shepherd Husky Mix</h5>
                        <p class="card-text">Does the German Shepherd Husky Mix or Shepsky have the potential to
                            be your next dog? The thought behind crossing these breeds may spring from..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">SEPTEMBER 08, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/Husky-German-Shepherd-puppy.png')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">9 Things to Know Before Getting a German Shepherd Husky Mix</h5>
                        <p class="card-text">Does the German Shepherd Husky Mix or Shepsky have the potential to
                            be your next dog? The thought behind crossing these breeds may spring from..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">DECEMBER 30, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/Dogs-inner-thoughts.png')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Animal Communicator – Can They Talk to Your Dog?</h5>
                        <p class="card-text">Communicating with your dog or any other pet you might have sounds
                            great, doesn’t it? People who are seeking advice from so-called animal communicators
                            are..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">SEPTEMBER 15, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/doberman-6.jpg')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rottweiler Growth Chart – When Are Rottweilers Fully Grown?</h5>
                        <p class="card-text">Getting a Rottweiler puppy is such an exciting thing and as
                            responsible owners, we would like to care for our Rotties the best we can..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">MAY 12, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/doberman-6.jpg')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rottweiler Growth Chart – When Are Rottweilers Fully Grown?</h5>
                        <p class="card-text">Getting a Rottweiler puppy is such an exciting thing and as
                            responsible owners, we would like to care for our Rotties the best we can..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">AUGEST 08, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/Husky-3.jpg')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rottweiler Growth Chart – When Are Rottweilers Fully Grown?</h5>
                        <p class="card-text">Getting a Rottweiler puppy is such an exciting thing and as
                            responsible owners, we would like to care for our Rotties the best we can..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">MAY 08, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{  url_for('static', filename='img/doberman-2.jpg')   }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">9 Things to Know Before Getting a German Shepherd Husky Mix</h5>
                        <p class="card-text">Does the German Shepherd Husky Mix or Shepsky have the potential to
                            be your next dog? The thought behind crossing these breeds may spring from..</p>
                        <div class="Blogbottomside">
                            <p class="card-date"><small class="text-muted">AUGEST 18, 2020</small></p>
                            <p class="blogMore"><button type="button" class="btn btn-success btn-sm"><a
                                        href="{{  url_for('innerblog')}}">Davamı</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BLOG SECTION END -->

{% endblock content %}