{% extends 'base.html' %}

{% block content%}
  <link rel="stylesheet" href="{{  url_for('static', filename='css/contact.css')   }}" rel="stylesheet">
  <!--CONTACT START -->
  <section class="contact">
    <div class="containers">
      <span class="big-circle"></span>
      <img src="{{  url_for('static', filename='img/shape.png')   }}" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Bizimlə əlaqə üçün</h3>
          <p class="text">
            İstək və təkliflərinizi bizə yaza bilərsiniz
          </p>

          <div class="info">
            <div class="information">
              <img src="{{  url_for('static', filename='img/location.png')   }}" class="icon" alt="" />
              <p>Sizə yaxın həryerdə</p>
            </div>
            <div class="information">
              <img src="{{  url_for('static', filename='img/email.png')   }}" class="icon" alt="" />
              <p>farid.ahmadov97@gmail.com</p>
            </div>
            <div class="information">
              <img src="{{  url_for('static', filename='img/phone.png')   }}" class="icon" alt="" />
              <p>012 555 55 55</p>
            </div>
          </div>

          <div class="socials-media">
            <p>Social Media Hesablarımız :</p>
            <div class="socials-icons">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="index.html" autocomplete="off">
            <h3 class="title">Mesaj göndərmək üçün</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" />
              <label for="">Username</label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" />
              <label for="">Telefon</label>
              <span>Telefon</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Mesajınız</label>
              <span>Mesajınız</span>
            </div>
            <input type="submit" value="Göndər" class="button" />
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--CONTACT END -->
  <script src="{{  url_for('static', filename='js/contact.js') }}"></script>
  {% endblock content %}