{% extends 'base.html' %}

{% block content%}
<link rel="stylesheet" href="{{  url_for('static', filename='css/gallerya.css')   }}" rel="stylesheet">

<!-- Gallery Section Start -->
<section class="gallerysection">
    <ul>
        <li class="list active" data-filter="all">All</li>
        <li class="list" data-filter="husky">Husky</li>
        <li class="list" data-filter="doberman">Doberman</li>
        <li class="list" data-filter="goldendog">Golden dog</li>
        <li class="list" data-filter="germanShepherd">German Shepherd</li>
    </ul>
    <div class="dog">
        <div class="dogbox husky"><img src="{{  url_for('static', filename='img/Husky-1.jpg')   }}" alt=""></div>
        <div class="dogbox doberman"><img src="{{  url_for('static', filename='img/doberman-1.jpg')   }}" alt=""></div>
        <div class="dogbox goldendog"><img src="{{  url_for('static', filename='img/goldendog-1.jpg')   }}" alt=""></div>
        <div class="dogbox germanShepherd"><img src="{{  url_for('static', filename='img/schafer-dog-4357790_1280.jpg')   }} " alt=""></div>
        <div class="dogbox husky"><img src="{{  url_for('static', filename='img/Husky-2.jpg')   }}" alt=""></div>
        <div class="dogbox doberman"><img src="{{  url_for('static', filename='img/doberman-2.jpg')   }}" alt=""></div>
        <div class="dogbox goldendog"><img src="{{  url_for('static', filename='img/goldendog-2.jpg')   }}" alt=""></div>
        <div class="dogbox germanShepherd"><img src="{{  url_for('static', filename='img/germanshepherd-2.jpg')   }}" alt=""></div>
        <div class="dogbox husky"><img src="{{  url_for('static', filename='img/Husky-4.jpg')   }}" alt=""></div>
        <div class="dogbox doberman"><img src="{{  url_for('static', filename='img/doberman-3.jpg')   }}" alt=""></div>
        <div class="dogbox husky"><img src="{{  url_for('static', filename='img/Husky-3.jpg')   }}" alt=""></div>
        <div class="dogbox doberman"><img src="{{  url_for('static', filename='img/doberman-4.jpg')   }}" alt=""></div>
        <div class="dogbox husky"><img src="{{  url_for('static', filename='img/Husky-5.jpg')   }}" alt=""></div>
        <div class="dogbox doberman"><img src="{{  url_for('static', filename='img/doberman-5.jpg')   }}" alt=""></div>
        <div class="dogbox doberman"><img src="{{  url_for('static', filename='img/doberman-6.jpg')   }}" alt=""></div>
    </div>
</section>
<!-- Gallery Section End -->
<!-- Bootstrap JS CDN END -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="{{  url_for('static', filename='js/gallery.js') }}"></script>
{% endblock content %}