{% extends 'base.html' %}

{% block content%}
    <link rel="stylesheet" href="{{  url_for('static', filename='css/innerblog.css')   }}" rel="stylesheet">

    <!-- INNER BLOG START -->
    <section class="innerBlog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="blogDetails">
                    <div class="innerImg">
                        <img src="{{  url_for('static', filename='img/doberman-2.jpg')   }}" alt="">
                        
                    </div>
                    <div class="innerText">
                        <h1>Pet Adoptions in the Time of the Coronavirus Pandemic</h1>
                        <p>Do any of you work in a veterinarian’s office or shelter? If so, what are the words that you
                            wish you could forbid people to say when they walk into the lobby and find that they are the
                            only ones there at the moment? Say it with me:

                            “Wow, it’s quiet in here today!”

                            It’s almost guaranteed that when those words are said out loud, within minutes, the phones
                            will start ringing and cars will start pulling into the parking lot and pet-related
                            emergencies will just start busting loose. I’ve seen it happen with my own eyes, many times.

                            Which is why I feel a little anxious about saying what I’m going to say next: Are the
                            shelters emptying out? Have all the people who are out of work and working from home who
                            have ever wanted a dog recently adopted a dog?

                            Fewer dogs are available for adoption
                            My shelter currently has six adoptable dogs. Just six! Often, they have 30 or more!

                            I’ve also received requests for help with locating dogs to adopt. I’ve heard it again and
                            again: Everyone is going to their local shelters, but there aren’t many dogs to adopt!
                        </p>
                    </div>
                    <p class="card-date"><small class="text-muted">SEPTEMBER 08, 2020</small></p>
                </div>
            </div>
            <div class="powr-comments mt-5" id="cea08e05_1602534790"></div>
            <script src="https://www.powr.io/powr.js?platform=html"></script>

        </div>
    </section>
    <!-- INNER BLOG END -->
{% endblock content %}