<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/innerblog.css">
</head>

<body>
    <!-- NAVBAR START -->
    <header id="navbar">
        <div class="container-fluid">
            <div class="row d-block">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="col-3">
                        <i class="fas fa-paw"></i>
                        <a class="navbar-brand" href="index.html">Pet Blog</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="col-9 mt-3">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="navbar-brand" href="index.html">Ana Səhifə<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">Haqqımızda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="gallery.html">Qalareya</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Əlaqə</a>
                                </li>
                                <ul class="LoginandRegister d-flex">
                                    <li class="navbar-brand">
                                        <button type="button" class="btn btn-info btn-sm"><a
                                                href="login.html">Giriş</a></button>
                                        <button type="button" class="btn btn-secondary btn-sm ml-1"><a
                                                href="register.html">Qeydiyyat</a></button>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>

                </nav>

            </div>
        </div>
    </header>
    <!-- NAVBAR END -->
    <!-- INNER BLOG START -->
    <section class="innerBlog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="blogDetails">
                    <div class="innerImg">
                        <img src="img/doberman-2.jpg" alt="">
                    </div>
                    <div class="innerText">
                        <h1>Pet Adoptions in the Time of the Coronavirus Pandemic</h1>
                        <p>Do any of you work in a veterinarian’s office or shelter? If so, what are the words that you
                            wish you could forbid people to say when they walk into the lobby and find that they are the
                            only ones there at the moment? Say it with me:

                            “Wow, it’s quiet in here today!”

                            It’s almost guaranteed that when those words are said out loud, within minutes, the phones
                            will start ringing and cars will start pulling into the parking lot and pet-related
                            emergencies will just start busting loose. I’ve seen it happen with my own eyes, many times.

                            Which is why I feel a little anxious about saying what I’m going to say next: Are the
                            shelters emptying out? Have all the people who are out of work and working from home who
                            have ever wanted a dog recently adopted a dog?

                            Fewer dogs are available for adoption
                            My shelter currently has six adoptable dogs. Just six! Often, they have 30 or more!

                            I’ve also received requests for help with locating dogs to adopt. I’ve heard it again and
                            again: Everyone is going to their local shelters, but there aren’t many dogs to adopt!
                        </p>
                    </div>
                    <p class="card-date"><small class="text-muted">SEPTEMBER 08, 2020</small></p>
                </div>
            </div>
            <div class="powr-comments mt-5" id="cea08e05_1602534790"></div>
            <script src="https://www.powr.io/powr.js?platform=html"></script>

        </div>
    </section>
    <!-- INNER BLOG END -->

    <!-- FOOTER START -->
    <footer class="footer">
        <div class="inner-footer">
            <div class="footer-items">
                <h1>PET BLOG AZERBAIJAN</h1>
                <p>
                    Saytımızın məqsədi haqqında məlumatlar olacaq burda
                </p>
            </div>
            <div class="footer-items quicklinks">
                <h2>Sürətli keçid üçün</h2>
                <div class="border"></div>
                <ul>
                    <a href="">
                        <li>Blog</li>
                    </a>
                    <a href="">
                        <li>Haqqımızda</li>
                    </a>
                    <a href="contact.html">
                        <li>Contact</li>
                    </a>
                    <a href="">
                        <li>Gallery</li>
                    </a>
                </ul>
            </div>

            <div class="footer-items">
                <h2>Bizimlə əlaqə</h2>
                <div class="border"></div>
                <ul>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Sizə Yaxın hər yerdə</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>012 555 55 55</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i>farid.ahmadov97@gmail.com</li>
                </ul>
                <div class="social-media">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </footer>
    <!-- FOOTER END -->

    <!-- Bootstrap JS CDN START -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS CDN END -->
</body>

</html>