<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{  url_for('static', filename='css/loginregister.css')   }}" />

  <title>Qeydiyyat</title>
</head>

<logregister>
  <div class="SigninSection sign-up-mode">
    <div class="forms-container">
      <div class="signin-signup">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <!-- <h2 class="title">Hesabınıza daxil olun</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            {{ form.username(placeholder='İstifadəçi Adı')}}
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            {{ form.password(placeholder='Şifrə')}}

          </div> -->
          <!-- <input type="submit" value="Daxil ol" class="btn solid" />
          <p class="social-text">vəya Social Media hesabınız ilə daxil olmaq üçün</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div> -->
          <form action="#" class="sign-up-form">
            <h2 class="title">Qeydiyyat</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{ form.username(placeholder='İstifadəçi Adı')}}
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{ form.name(placeholder='Ad')}}
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{ form.surname(placeholder='Soyad')}}
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              {{ form.email(placeholder='Email')}}
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              {{ form.password(placeholder='Şifrə')}}
            </div>
            {{ form.submit(value='Qeydiyyatdan keç', class='btn')}}
            <p class="social-text">vəya Social Media hesabınız ilə daxil olmaq üçün</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Heyy sən, saytımızı yeni kəşf etmisən?</h3>
          <p>
            Və hələ də Qeydiyyatdan keçməmisənsə nəyi gözləyirsən
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Qeydiyyat
          </button>
        </div>
        <img src="{{  url_for('static', filename='img/undraw_dog_walking_0jpt.svg')   }}
          " class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Artıq hesabınız var?</h3>
          <p>
            O zaman daxil olun
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Daxil ol
          </button>
        </div>
        <img src="{{  url_for('static', filename='img/undraw_chilling_8tii.svg')   }}" class="image" alt="" />
      </div>
    </div>
  </div>

  <script src="{{  url_for('static', filename='js/register.js') }}"></script>

</logregister>

</html>