*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
	padding: 0;
}


#navbar{
    top: 0;
    position: sticky;
    z-index: 10000;
}
.navbar{
    margin: 10px 0 20px 0;
    background-color: white !important;
}

.navbar>.col-3> i{
    color: #00bd56;
    font-size: 25px;
}

.navbar-brand{
    font-size: 28px;
    padding-left: 5px;
}
.navbar-nav li{
    margin-left: 60px;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar-nav>.active>a{
    font-size: 16px;
    padding: 8px;
}

.LoginandRegister{
    position: relative;
    text-align: center;
    line-height: 13px;
}

.LoginandRegister li{
    font-size: 18px;
    list-style: none;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.LoginandRegister>.navbar-brand a{
    color: white;
    text-decoration: none;
}

.navbar>.col-9{
    margin: 0px 1px 0px 0px;

}

/* NAVBAR END */

@media screen and (max-width:1300){
    .col-7{
        margin: 0px 20px 0px 0px;
    }
}

@media screen and (max-width:763){
    .col-9{
        margin: 0px 1px 0px 0px;
    }
}

/* BIG PIC START */
.pictureSection{
    height: 1094px;
    opacity: .9;
}

.pictureSection>.container{   
    text-align: center;
    z-index: 5;
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.pictureSectionText{
    margin-top: 25%;
    margin-left: 38%;
}

.pictureSection h1{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
}

#pictureSectionBackground{
    position: relative;
}


#pictureSectionBackground img{
    width: 100%;
    height: 100%;
}

.ourWorks{
    width: 100%;
    position: absolute;
    margin-top: -26%;
}

.ourWorks>.container>.row>.col-3{
    height: 300px;
    background-color: #28a745;
    color: white;
    margin: 0 29px;
}

.ourWorkIconsHeader{
    width: 100px;
    margin:-60px 0 20px 72px;
    border-radius: 50%;
    background-color: white;
}

.ourWorkIconsHeader i{
    margin: 15px;
    font-size: 60px;
    color: #28a745;
}

.ourWorkIconsFooter{
    width: 50px;
    height: 50px;
    margin: 16px 0px 0px 103px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.ourWorkIconsFooter i{
    margin: 8px 0px 0px 16px;
    font-size: 35px;
    color: #28a745;
}
/* BIG PIC END */


/* WHY-US START */
.whyus>.container>.col-5{
    height: 280px;
 }

#whyusTitle{
    font-size: 30px;
    font-weight: 900;
}
.whyusImg img{
    width: 100%;
}

.whyusIcons{     
    height: 66px;
    border-radius: 50%;
    background-color: #28a745;
    padding-left: 19px;
    padding-top: 10px;
}

.whyusIcons i{
    font-size: 48px;
    color: white;
}

.whyusText>.col-9>p{
    font-size: 17px;
}
/* WHY-US END */



/* BLOG OWL CARUSEL START */
.lastBlogs{
    position: relative;
}

.lastBlogs h3{
    position: absolute;
    margin: 8% 0 0 35%;
}

.lastBlogs a{
    position: absolute;
    margin: 9% 0 0 93%;
    font-size: 20px;
    color: black;
    z-index: 100000;
    text-decoration: none;
}

.owlitem {
    margin-top: 180px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.owl-carousel .owlitem img {
    width: 100%;
    height: 300px;
}

.owl-item{
    margin-right: 7px !important;
}

.card-text{
    max-height: 120px;
    overflow: hidden;
    height: 120px;
}

.card-title{
    height: 73px;
    overflow: hidden;
}

.owl-nav {
    display: block !important;
}

.owl-nav button {
    font-size: 35px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    
    font-size: 65px;
    position: absolute;
    top: 52%;
}

.owl-carousel .owl-nav button.owl-next {
    right: -1%;
}


.owl-carousel .owl-nav button.owl-prev {
    left: -1%;
}
/* BLOG OWL CARUSEL END */



/* FOOTER START */
.footer {    
	font-family: sans-serif;
	text-align: justify;
    line-height: 40px;
    background: #00121b;
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.quicklinks{
	margin-left:10%;
}

.footer-items {
	width: 30%;
	padding: 0px 20px;
	box-sizing: border-box;
}

.footer-items h1 {
	padding: 10px 0;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}

.footer-items p {
	color: grey;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}

.footer-items>h2 {
	margin: 10px 0;
	color: grey;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
}

.footer-items>.border {
    box-sizing: content-box;
	height: 2px;
	width: 40px;
	background: #ff9800;
}

.footer-items>ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}

.footer-items>ul>a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

.footer-items>ul>a:hover {
	color: #ff9800;
}

.footer-items>ul>li {
	margin: 10px 0;
	height: 25px;
}

.footer-items>ul>li>i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 15px;
	width: 15px;
	margin: 20px 5px;
	padding: 10px;
	color: #fff;
	border-radius: 50%;
	border: 1px solid grey;
    transition: 0.3s;
    box-sizing: content-box;
}

.social-media i:hover {
	background: blue;
}


@media screen and (max-width: 1085px) {
	.footer-items {
		width: 33%;
	}
}

@media screen and (max-width: 600px) {
	.footer-items {
		width: 100%;
	}
}
/* FOOTER END */
